*{
    margin: 0;
    padding: 0;
}

:root{
    --color-dark: #222629; 
    --color-green: #86C232; 
    --font-one: "Bebas Neue", sans-serif;
    --font-two: "Crimson Text", serif;
}

header{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-dark);
    color: var(--color-green);
}



.logo{
    display: flex;
    flex-direction: row;
}

#one{
    width: 100px;
    margin-left: 60px;
}

#two{
    width: 515px;
}

.header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-right: 100px;
}

.header > ul > li > a{
    text-decoration: none;
    color: var(--color-green);
    font-family: var(--font-one);
    font-size: 24px;
}

.first{
    width: 100%;
    height: 620px;
    background-image: url(../img/first_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.first h1{
    font-family: var(--font-one);
    color: var(--color-green);
    font-size: 96px;
}

.first img{
    width: 1086px;
}

.second{
    background-color: var(--color-dark);
    height: 700px;
    display: grid;
    grid-template-columns: repeat(2, 800px);
    gap: 60px;
    justify-content: center;
}

.img_one{
    background-image: url(/img/pic1\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.descr{
    display: flex;
    flex-direction: column;

}

.descr h2{
    font-family: var(--font-one);
    font-size: 40px;
    color: var(--color-green);
}

.descr p{
    color: var(--color-green);
    font-family: var(--font-two);
    font-size: 32px;
}
